<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Joost&display=swap" rel="stylesheet">
    <style>
        {% block style %}
        {% endblock%}
    </style>
</head>
<body>
    {% include "./navigationBar.njk"%}
    <main>
        <aside>
            <ul>
                <li><a href="works">Наши работы</a></li>
                <li><a href="events">Мероприятия</a></li>
                <li><a href="exhibitions">Выставки</a></li>
                <li><a href="#">Залы</a></li>
                <li><a href="#">Интерактивная<br>экскурсия</a></li>
            </ul>
        </aside>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
