<header>
        <h1><a href="/">noor project</a></h1>
        <nav>
            <a href="news">Новости</a>
            <a href="aboutUs">О нас</a>
            <a href="contacts">Контакты</a>
        </nav>
    </header>