{% extends "./Views/layout.njk"%}
{% block title %} aboutUs {% endblock %}
{% block style %} {% include "./Design/style_adout_us.css" %} {% endblock %}
{% block content %}
    <section>
        <img src="/img/Mona_Lisa.jpg" alt="Beautiful landscape">
        <p>Мы такие то такие-то, делаем то-то-то, ради того <br>сего, мы начинали с тогото-тогото, у нас такие то
            <br>принципы, на начинали того-сего, я люблю <br>пирожки с корицей
            бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-
        </p>
    </section>
{% endblock %}