{% extends "./Views/layout.njk"%}
{% block title %} Contacts {% endblock %}
{% block style %} {% include "./Design/style_contact.css" %} {% endblock %}
{% block content %}
<div class="contacts">
            <div class="contact">
                <img src="/img/Ellipse1.png" alt="Mona Lisa">
                <section>
                    <h2>Имя Фамилия</h2>
                    <p>должность</p>
                    <span>+372 telefon number</span>
                </section>
            </div>
            <div class="contact">
                <img src="/img/Ellipse2.png" alt="Person Image">
                <section>
                    <h2>Имя Фамилия</h2>
                    <p>должность</p>
                    <span>+372 telefon number</span>
                </section>
            </div>
            <div class="contact">
                <img src="/img/Ellipse3.png" alt="Another Person">
                <section>
                    <h2>Имя Фамилия</h2>
                    <p>должность</p>
                    <span>+372 telefon number</span>
                </section>
            </div>
            <div class="contact">
                <img src="/img/Ellipse4.png" alt="Another Person">
                <section>
                    <h2>Имя Фамилия</h2>
                    <p>должность</p>
                    <span>+372 telefon number</span>
                </section>
            </div>
        </div>
{% endblock %}