{% extends "./Views/layout.njk" %}
{% block title %} events {% endblock %}
{% block style %} {% include "./Design/style_events.css" %} {% endblock %}
{% block content %}
<div class="events">
            <section>
                <div class="event_text">
                    <h2>Мероприятие такое-то такое-то<br>Мероприятие такое-то такое-то<br>Мероприятие такое-то такое-то
                    </h2>
                    <p>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла
                    </p>
                    <p>Когда: 25.11.2024, 8:30-16:30</p>
                    <p class="adress">Где: Нарва, адресс</p>
                </div>
                <img src="/img/event1.png" alt="Beautiful landscape">
            </section>
            <section>
                <div class="event_text">
                    <h2>Мероприятие такое-то такое-то<br>Мероприятие такое-то такое-то<br>Мероприятие такое-то такое-то
                    </h2>
                    <p>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла
                    </p>
                    <p>Когда: 25.11.2024, 8:30-16:30</p>
                    <p class="adress">Где: Нарва, адресс</p>
                </div>
                <img src="/img/event2.png" alt="Beautiful landscape">
            </section>
        </div>
{% endblock %}