{% extends "Views/layout.njk" %}
{% block title %} Home {% endblock %}
{% block content %}
    <div class="row">
            <div class="col-3 mb-2">
                <div class="card h-100">
                        {# <img src="..." class="card-img-top" alt="..."> #}
                        <div class="card-body">
                        <a href="/" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}