{% extends "./Views/layout.njk" %}
{% block title %} Home {% endblock %}
{% block style %} {% include "./Design/style.css" %} {% endblock %}
{% block content %}
    <section>
        <img src="/img/Rectangle14.png" alt="Beautiful landscape">
        <div class="description">description</div>
        <img src="/img/Rectangle14.png" alt="Beautiful landscape">
    </section>
{% endblock %}