{% extends "./Views/layout.njk" %}
{% block title %} News {% endblock %}
{% block style %} {% include "./Design/style_news.css" %} {% endblock %}
{% block content %}
<div class="my-class">
            <section>
                <h2>Актуальные</h2>
                <div class="news">
                    <p>начали делать сайт,
                        бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>ла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла
                    </p>
                    <span>25.11.2024</span>
                </div>
                <div class="news">
                    <p>делаем сайт,
                        бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла
                    </p>
                    <span>November 24 - January 25</span>
                </div>
            </section>

            <section>
                <h2>Устаревшие</h2>
                <div class="news">
                    <p>играли в днд, отдыхали от работы
                        бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-<br>бла-бла-бла-бла-бла-бла-бла-бла
                    </p>
                    <span>24.11.2024</span>
                </div>
            </section>
        </div>
{% endblock %}