{% extends "./Views/layout.njk" %}
{% block title %} Works {% endblock %}
{% block style %} {% include "./Design/style_works.css" %} {% endblock %}
{% block content %}
<section>
    <h2>Divinity otiginal sin II</h2>
    <div class="works">
        <div class="img_text">
            <img src="./img/rome1.png" alt="Beautiful landscape">
            <p>texttexttexttexttexttexttexttexttexttexttexttext<br>texttexttexttexttexttexttexttexttexttexttexttext<br>texttexttexttexttexttexttexttexttexttexttexttext<br>texttexttexttexttexttexttexttexttexttexttexttext<br>texttexttexttexttexttexttexttexttexttexttexttext<br>texttexttexttexttexttexttexttexttexttexttexttext<br>texttexttexttexttexttexttexttexttexttexttexttext<br>texttexttexttexttexttexttexttexttexttexttexttext<br>texttexttexttexttexttexttexttexttexttexttexttext<br>texttexttexttexttexttexttexttexttexttexttexttext<br>texttexttexttexttexttexttexttexttexttexttexttext</p>
        </div>
        <p>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttextte<br>xttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext<br>ttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttextt<br>exttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttextte<br>xttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttex<br>ttexttexttexttexttexttext</p>                
    </div>
    <img src="./img/rome2.png" style="width: 120%; height: auto;" alt="Beautiful landscape">
</section>
{% endblock %}