@font-face {
    font-family: 'Jost';
    src: url(./fonts/Jost-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Jost';
    src: url(./fonts/Jost-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Jost';
    src: url(./fonts/Jost-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Jost';
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

header h1 {
    font-family: "Jost";
    font-weight: 400;
    font-size: 24px;
    text-transform: lowercase;
}
h1 a {
    text-decoration: none;
    color: inherit;
}
h1 a:hover {
    color: purple;
    transition: color 0.3s ease;
}
nav {
    display: flex;
    gap: 10px;
    padding-right: 50px;
}

nav a {
    font-family: "Jost";
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding-right: 30px;
}
nav a:hover {
    color: purple;
    transition: color 0.3s ease;
}

nav a:nth-child(3) {
    color: purple;
}

main {
    display: flex;
}

aside {
    width: 25%;
    padding-top: 10px;
    padding-right: 40px;
}

aside ul {
    list-style: none;
    padding-right: 40px;
}


aside a {
    font-family: "Jost";
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
aside a:hover {
    color: purple;
    transition: color 0.3s ease;
}

.contacts {
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column; /* Добавить, чтобы элементы контактов располагались вертикально */
}

.contact {
    display: flex;
    margin-bottom: 20px; /* Отступ между контактами */
}

.contact img {
    width: 60%;
    height: 60%;
    object-fit: contain;
    padding-top: 30px;
}

.contact section {
    padding-top: 15px;
    width: 100%;
}

.contact section h2 {
    font-family: "Jost";
    font-weight: 400;
    font-size: 26px;
    margin-bottom: -5px;
}

.contact section p {
    font-family: "Jost";
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 5px;
}

.contact section span {
    font-family: "Jost";
    font-weight: 300;
    font-size: 18px;
}
